@use "@scss/abstract/index";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  color: #fff;
  &--large {
    padding: 2.75vw 0;
    @include index.minMedia(1100px) {
      padding-top: 2.2vw;
    }
  }
  .logo-svg{
    width: 8rem;
    transition: width 0.4s cubic-bezier(0.16, 0.43, 0, 1);
    will-change: width;
    @include index.minMedia(800px) {
      width: 10rem;
    }
    @include index.minMedia(1100px) {
      width: 12rem;
    }
    @include index.minMedia(1800px) {
      width: 14rem;
    }
  }
  .svg-title {
    font-family: "Din-2014", sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  .button-wrap{
    position: absolute;
    right: 3.5rem;
    @include index.minMedia(1100px) {
      right: 0;
    }
  }
  &.is-active {
    max-height: none;
    padding: 2.5vw 0;
    background: #050029;
    @include index.minMedia(1100px) {
      padding: 1rem 0;
      padding-bottom: 2rem;
    }
    @include index.minMedia(1100px) {
      padding: 1.25rem 0;
      padding-bottom: 1.25rem;
    }
    .logo-svg{
      width: 7.2rem;
      @include index.minMedia(550px) {
        width: 8rem;
      }
      @include index.minMedia(800px) {
        width: 10rem;
      }
    }
  }
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3.75vw;
  left: 0;
  height: 70px;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  @include index.minMedia(800px) {
    margin: 0 5.75vw;
  }
  @include index.minMedia(1100px) {
    justify-content: center;
  }
}

.header{
  .header-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    left: 0px;
    display: inline-block;
    &:after {
      background: #050029;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      bottom: 100%;
      content: "";
      height: 17.857vw;
      left: 50%;
      min-height: 180px;
      min-height: 11.25rem;
      min-width: 180px;
      min-width: 11.25rem;
      opacity: 0;
      position: absolute;
      transform: translate(-50%);
      transition: all .4s cubic-bezier(.16, .43, 0, 1);
      transition-delay: 0s;
      visibility: hidden;
      width: 17.857vw;
      z-index: -1;
      display: none;
      @include index.minMedia(1100px) {
        display: block;
      }
    }
  }
  &.is-active{
    .header-logo {
      position: absolute;
      top: 50%;
      transform: translateY(-35%);
      left: 0px;
      display: inline-block;
      @include index.minMedia(550px) {
        top: 58%;
      }
      &:after {
        bottom: -10px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
